// COLORS:
$color-white: #fff;
$color-black: #000;

$color-grey-light-v1: #f7f7f7;
$color-grey-light-v2: #eee;
$medium-grey: #5b5b5b;
$dark-grey: #4a4a4a;

$light-brown: #d8c292;
$dark-brown: #c19065;

$red: #e60505;
$green: #0aee30;

$light-yellow: #f9db90;
$yellow: #f3bb30;
$dark-yellow: #a37709;

//FONT
$default-font-size: 1.6rem; // 16px, 1rem = 10px

//GRID
$grid-width: 114rem; //1140px
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//BORDER-RADIOUS
$border-radious: 3px;
