/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

/* SLIDER */
.carousel-container {
  max-width: 60%;
  margin: auto; //Para centrarlo
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  // border: 5px solid black;
}

.carousel-slide {
  display: flex;
  height: 40rem;
}
.carousel-slide img {
  width: 100%;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 4rem;
  cursor: pointer;
}
.slider__btn:hover {
  color: $yellow;
}

.slider__btn--left {
  left: 10%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 10%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: $color-white;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: $yellow;
  opacity: 1;
}
